.history {
    display: grid;
    position: relative;
}

.elm1 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    justify-content: center;
}

.elm1_p {
    grid-row: 1 / 2;
    grid-column: 4 / 6;
}

.elm1_p p {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    color: #231815;
    font-size: 1.0rem;
}
