.history {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 6rem;
    grid-template-rows: auto;
}

.elm1 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    position: relative;
}

.elm1_p {
    grid-row: 1 / 2;
    grid-column: 4 / 6;
}

.elm1 p {
    position: absolute;
    margin:0;
    padding:0;
    color: #231815;
    font-size: 1.0rem;
}

.connect1 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    margin-left: 100px;
    width: 5px;
    height: 150px;
    background-color: #231815;
}
